.container {
    background-color:#026aa7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    background-color: #969085;
}

.header-icon {
    background-color: hsla(0,0%,100%,.4);
    margin:0.4rem;
    padding: 0.2rem;
    border-radius: 4px;
}

.header-icon:hover {
    background-color: transparent;
    cursor: pointer;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-board {
    display: flex;
    background-color: hsla(0,0%,100%,.4);
    align-items: center;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.header-board:hover {
    background-color: transparent;
}

#header-board {
    margin:0;
    color: white;
    align-self: center;

}

.board-icon {
    background-color: transparent;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0,0%,100%,.4);
    margin: 0.2rem;
    border-radius: 4px;
    padding: 0.2rem;
}

.search-icon {
    background-color: transparent;
}

.header-input {
    border: none;
    background-color: transparent;
}

.header-middle {
    background-image: url("https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png");
    background-size:80px 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 80px;
    opacity: 0.5;
    cursor: pointer;
}

.header-middle:hover {
    opacity: 1;
}

#trello {
    margin: 0;
    color: white;
}

.header-end {
    display: flex;
    align-items: center;
}

.user {
    margin: 0;
    color: black;
    margin: 0.4rem;
    padding: 0.4rem;
    background-color: #ff991f;
    border-radius: 50%;
}