.body {
    min-height: 100vh;
    background-image: url("https://embedwistia-a.akamaihd.net/deliveries/d5ae8190f0aa7dfbe0b01f336f29d44094b967b5.webp?image_crop_resized=1280x720");
    background-repeat: no-repeat;
    background-size:cover;
    color: #172b4d;
}

.boardName {
    background-color:#e0d8d8;
    padding: 0.2rem;
    margin:0.3rem;
    cursor: pointer;
}

.boardName:hover {
    color: black;
}

.boardNav {
    display: flex;
    align-items:center;
    color: #5a5956;
}

.boardNav h2 {
    margin: 0;
}

.boardNav h3 {
    margin: 0;
}

.starImgDiv {
    display: flex;
    align-items:flex-start;
}

.starImg {
    width:15px;
    height:15px;
    padding: 0.2rem;
}

.free {
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 25%;
    margin-left:0.4rem;
    margin-right: 0.4rem;
    background-color: rgb(202, 200, 196);
}

#workspace {
    display: flex;
    align-items: center;
    margin: 0.3rem;
}

.cr {
    background-color: #ff991f;
    border-radius: 50%;
    padding:0.2rem;
    margin: 0.3rem;
}

#boardStatic {
    margin: 0.3rem;
}

#starImg {
    margin: 0.3rem;
}

#teamImg {
    margin: 0.3rem;
}

#cr {
    margin: 0.3rem;
}

#invite {
    margin: 0.3rem;
}

#boardName {
    background-color: transparent;
    margin:0.3rem;
    cursor: pointer;
}

.boardList {
    margin: 1rem;
    background-color:#ebecf0;
    width:16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    border-radius: 6px;
}

#boardListName {
   font-size: 1.2rem;
   color: #3d3b37;
   cursor: pointer;
}

#boardListName:hover {
    color: black;
}

.cardName {
    font-size:0.9rem;
    padding: 0.4rem;
    background-color: #ffffff;
    width:14vw;
    border-radius: 4px;
    color: #474744;
    cursor: pointer;
    margin: 0.5rem;
}

.cardName:hover {
    color: black;
}

.boardListName {
   display: flex;
}

form {
    width:14vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.cardTextArea {
    border: none;
    background-color: transparent;
    display: block;
    resize: vertical;
}

.cardSubmitButton {
    cursor: pointer;
    align-self: flex-start;
    background-color: #eaecef;
}

.closeImg {
    width: 17px;
    height: 17px;
    display: none;
}

.cardBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardBlock:hover .closeImg {
    display: inline;
}

.listTextArea {
    margin-top: 1rem;
    width:10vw;
    align-self: flex-start;
    background-color: transparent;
    border-radius: 4px;
}

.addList {
    display: flex;
    flex-direction: column;
    margin-left:1rem
}

.listSubmitButton {
    align-self: flex-start;
    background-color:#eaecef;
    border: none;
    cursor: pointer;
}

button{
    outline: none;
    border: none;
    background: #eaecef;
    color: #172b4d;
    padding: 0.3rem;
    border-radius:0.2rem;
}

button:hover {
    background-color: #d2d7df;
}