<div class="body">
    <app-header></app-header>
    <div class="container">
        <div class="boardNav">
            <h3 id="boardStatic" class="boardName">Board</h3>
            <h2 id="boardName"  class="boardName">{{boardName}}</h2>
            <div id="starImg" class="boardName starImgDiv"><img class="starImg" src="https://img.icons8.com/ios/452/star--v1.png" ></div>
            <h3 id="workspace" class="boardName">Trello workspace<span class="free">Free</span></h3>
            <div id="teamImg"  class="boardName starImgDiv">
                <img class="starImg" src="https://static.thenounproject.com/png/355154-200.png" >
                <h3>Team visible</h3>
            </div>
            <h3 id="cr" class="boardName cr">CR</h3>
            <h3 id="invite" class="boardName">Invite</h3>
        </div>
        <div class="boardListName">
            <h4 *ngFor="let list of lists;index as i">
                <div class="boardList" >
                    <h4 id="boardListName">{{list.name}}</h4>
                    <h5 class="cardName cardBlock" *ngFor="let card of list.cards;index as j">
                        <span (click)="getCard(i,j)" class="card">{{card}}</span>
                        <img class="closeImg" (click)="deleteCard(i,j)" src="https://www.freeiconspng.com/uploads/close-button-png-27.png">
                    </h5>
                    <form>
                        <textarea #input class="cardTextArea" type="text" placeholder="+add another card"></textarea>
                        <button class="cardSubmitButton" type="submit" (click)="addCard($event,input,i)" >Add card</button>
                    </form>
                </div>
            </h4>
            <h4 class="addList">
                <textarea class="listTextArea">+Add another list</textarea>
                <button class="listSubmitButton" type="submit">Add List</button>
            </h4>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

