.container {
    position: absolute;
    top:119px;
    height: 80vh;
    width: 60vw;
    left:20vw;
    background-color: #f4f5f7;  
    overflow-y: scroll;
    border-radius: 6px;
    color: #3a3936;
}

.full{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.detail {
    margin:1rem;
    display: flex;
    flex-direction: column;
}

.closeImg {
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.closeImg:hover {
    opacity: 1;
}

.cardName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#card {
    margin-left: 0;
    margin-bottom:0.2rem;
}

.listName {
    text-decoration: underline;
}

.left {
    width: 60%;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit {
    
}

.textDescription {
    width: 100%;
    height: 20vh;
    float: left;
    border:none;
    background-color: transparent;
}

.bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
}

.right {
    display: flex;
    flex-direction: column;
    width:12vw;
}

.icon {
    margin:0.3rem
}

.checklistCloseImg {
    width: 10px;
    height: 10px;
    opacity: 0.7;
}

.checklistCloseImg:hover {
    opacity: 1;
}

.checklistDivTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.checklist {
    background-color: #ffffff;
    padding:1rem 1rem;
    position: absolute;
    right:1vw;
    margin-top:2rem
}

label {
    display: block;
}

.checklistButton {
    background-color: #eaecef;
}

.checkTitle {
    margin-top:1rem
}

.descriptionButton {
    margin-top:0.2rem;
    background-color: #eaecef ;
}

.deleteCheckItem {
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

.deleteCheckItem:hover {
    opacity: 1;
}

.deleteCheckList {
    background-color:#eaecef ;
    border:none;

}

.checklistAdder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkItemAdder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:1rem;
    
}

.items {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.addItem {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
}

.itemSubmit {
    background-color: #eaecef;
    align-self: flex-start;
}

button{
    outline: none;
    border: none;
    background: #eaecef;
    color: #172b4d;
    padding: 0.3rem;
    border-radius:0.2rem;
}

button:hover {
    background-color: #d2d7df;
}