<div class="full">
    <div class="container">
        <div class="detail">
            <div class="header">
            <div class="cardName">
                <h2 id="card">{{card.cardName}}</h2>
                <span >in list <span class="listName">{{card.listName}}</span></span>
            </div>
            <img class="closeImg" (click)="close()" src="https://cdn.onlinewebfonts.com/svg/img_293861.png">
            </div>
            <div class=bottom>
                <div class="left">
                    <div class="description">
                        <h3>Description</h3>
                        <button (click)="highlight(input)" class="edit">Edit</button>
                    </div>
                    <textarea #input class="textDescription" placeholder="Add description" [value]="card.description"></textarea>
                    <button class="descriptionButton" (click)="addDescription(input)" type="submit">save</button>
                    <div class="end">
                        <div *ngFor="let checklists of card.checklists;index as i">
                            <div class="checklistAdder">
                               <h2>{{checklists.name}}</h2>
                               <button class="deleteCheckList" (click)="deleteChecklist(i)">Delete</button>
                            </div>
                            <div *ngFor="let checkItem of card.checklists[i].checkItems;index as j">
                                <div class="checkItemAdder">
                                   <h3 id="checkItem"><input type="checkbox"> {{checkItem}}</h3>
                                   <img src="https://cdn.onlinewebfonts.com/svg/img_293861.png" class="deleteCheckItem" (click)="deleteCheckItem(i,j)"/>
                                </div>
                            </div>
                            <div class="items">
                                <input #itemInput class="addItem" type="text" placeholder="+add an item">
                                <button (click)="addCheckItem(itemInput,i)" class="itemSubmit" type="submit">add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="right">
                        <h4 class="icon">ADD TO CARD</h4>
                        <button class="icon">Members</button>
                        <button class="icon">Labels</button>
                        <button (click)="closeChecklist()" class="icon">Checklist</button>
                        <button class="icon">Due Date</button>
                        <button class="icon">Attachment</button>
                        <button class="icon">Cover</button>
                    </div>
                    <div *ngIf="check" class="checklist mt-3">
                        <div class="checklistDivTop">
                            <p>Add checklist</p>
                            <img (click)="closeChecklist()" class="checklistCloseImg" src="https://cdn.onlinewebfonts.com/svg/img_293861.png">
                        </div>
                        <form>
                            <label>Title</label>
                            <input #checked class="checkTitle" type="text" placeholder="+Add checklist" >
                            <button (click)="addCheckList($event,checked)" class="checklistButton" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>