<app-header></app-header>
<div class="body">
    <h1 class="boards">Boards</h1>
    <div id="boards">
        <a (click)="navigate(board)"  routerLink="/board" routerLinkActive="active" class="board" *ngFor="let board of boards">
             <h2>{{board.name}}</h2>
        </a>
    </div>

</div>