.body {
    display: flex;
    flex-direction: column;
    background-image: url("https://jewishcamp.org/wp-content/uploads/2016/11/moutain-828808_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height:96vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.boards {
    opacity:0.7;
    margin: 1.4rem;
    color: white;
    align-self: center;
}

.boards:hover {
    opacity: 1;
}

#boards {
    margin: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

.board {
    color: white;
    margin: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image:url("https://images.unsplash.com/photo-1565357815682-4ddf7efa2311?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8&w=1000&q=80");
    background-position: center;
    width: 15vw;
    height: 15vh;
    
}

.board:hover {
    opacity: 1;
}

